#searchbox input {
    padding: 4px 10px;
    width: 100%;
    color: var(--primary);
    font-weight: bold;
    border: 2px solid var(--tertiary);
    border-radius: var(--radius);
}

#searchbox input:focus {
    border-color: var(--secondary);
}

#searchResults li {
    list-style: none;
    border-radius: var(--radius);
    padding: 10px;
    margin: 10px 0;
    position: relative;
    font-weight: 500;
}

#searchResults {
    margin: 10px 0;
    width: 100%;
}

#searchResults li:active {
    transition: transform 0.1s;
    transform: scale(0.98);
}

#searchResults a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    outline: none;
}

#searchResults .focus {
    transform: scale(0.98);
    border: 2px solid var(--tertiary);
}

/* Search Form CSS */
.search-form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
}

.search-input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc; /* Border color */
    border-radius: 4px 0 0 4px;
    font-size: 16px;
    max-width: 300px;
    background-color: #f9f9f9; /* Light background color */
    color: #333; /* Text color */
}

.search-input:focus {
    border-color: #007bff; /* Border color on focus */
    background-color: #ffffff; /* Background color on focus */
}

.search-button {
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 4px 4px 0;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.search-button:hover {
    background-color: #0056b3;
}

/* Search Results CSS */
.search-results {
    margin-top: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.search-results div {
    padding: 8px;
    cursor: pointer;
    color: #333; /* Text color */
}

.search-results div:hover {
    background-color: #181414; /* Hover background color */
}

.search-results div a {
    text-decoration: none;
    color: #007bff;
}

.search-results div a:hover {
    text-decoration: underline;
}
